#startRepeat {width: 50px;}
#dateEndRepeat {width: 200px;}
#formInsert {margin: 0 auto; width: 50%; background-color: #e6e6e6; padding: 5%; margin-bottom: 10px;}
#header {margin-top: 3%;}
#pagesAndTable {width: 90%; margin-left: 2%;}
#mainTitle {color: #337ab7; margin-top: 45px;}
#table {margin-top: -6px;}
#repeatLabel {text-align: left;}

.pages {margin-left: 2%;}
.modal-body {height: 100%;}


select {display: inline; font-size: 100%;}
i {color: #333333;}