#formInclude {margin-left: 5%; width: 50%; background-color: #f6f6f6; padding: 5px;}
#head {margin-top: 3%;}
#pagesAndTable {width: 90%; margin-left: 2%;}
#tituloPrincipal {color: #4db81a;}
#table {margin-top: -6px;}

i {color: #333333;}
select {display: inline; font-size: 100%;}