<<<<<<< 90b9c99e06b977b01c56077a7de16fc13feb00a2
#dateFixed {width: 50px;}
#dateEnd {width: 200px;}
#formInclude {margin: 0 auto; width: 50%; background-color: #e6e6e6; padding: 5%; margin-bottom: 10px;}
#head {margin-top: 3%;}
#pagesAndTable {width: 90%; margin-left: 2%;}
#tituloPrincipal {color: #4db81a;}
#table {margin-top: -6px;}
#repeatLabel {text-align: left;}

<<<<<<< 9250cdfaf6bcadbc8cdcb9922f2dfe22a3ba6e34
.pages {margin-left: 2%;}
.modal-body {height: 100%;}

button {margin: 0 auto;}
i {color: #333333;}
select {display: inline; font-size: 100%;}
=======
i {color: #333333;}
>>>>>>> pages
=======
#head {margin-top: 3%;}
#tituloPrincipal {color: #4db81a;}
#tableForToday, #tableComplete {margin-top: -6px;}
#tableForToday table, #tableComplete table {width: 70%;}

i {color: #333333;}

<<<<<<< 14a1f27177e15aabde17da4ec20b8b85e45731ca
i {color: #333333;}
>>>>>>> paginação e layout
=======
select {display: inline; font-size: 100%;}
>>>>>>> Identificacao links
